*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

/* info dlnote */
.note{
    margin-left: 90px;
    align-items: center;
}

h2{
    text-align: center;
    color: #0000FF;
    padding-right: 200px;
}

#menu_content{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#menu_content video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#menu_content .contenuText1, .contenuText2{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border-left: 10px solid white;
    height: auto;
    top: 50%;
    left: -10%;
    color: white;
    padding-left: 5px;
} 

#menu_content .contenuText2 p, .contenuText1 p{
    padding: 4px;
}

#menu_content .contenuText2{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border-left: 10px solid white;
    height: auto;
    top: 1%;
    left: 39%;
    color: white;
    padding-left: 5px;
}

small{
    color: yellow;
}

 .tct{
   color: blue;
   font-weight: bold
}

/*#menu_content::before{
    content: '';
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .3;
    top: 10%;
    height: 90vh;
}*/

#menu_content .contentText3{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border-left: 10px solid white;
    height: auto;
    top: 55%;
    left: 57%;
    color: white;
    padding-left: 5px;
}

#menu_content .slider{
    color: yellow;
}

#menu_content .slider h1{
    color: white;
}


.slide{
    overflow: hidden;
    height: 50px;
}

.slide div div{
    padding: 4px 12px;
    border-radius: 2px;
    margin-bottom: 37px;
    display: inline-block;
}

.slide div:nth-child(1){
    animation: animate 5s linear infinite;
}

.slide div:nth-child(1) div{
   background-color: yellow;
   color: red;
}


.slide div:nth-child(2) div{
    background-color: orange;
}

.slide div:nth-child(3) div{
    background-color: #0000FF;
}

.slide div:nth-child(4) div{
    background-color: grey;
}

.slide div:nth-child(5) div{
    background-color: purple;
}



@keyframes animate{
    0%{margin-top: -270px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    88%{margin-top: 10px;}
    99.99%{margin-top: 0px;}
    100%{margin-top: -270px;}
}


/*#menu_content .home_text{
    text-align: center;
}*/

span{
    position: absolute;
    left: 25%; 
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}


/* Relatif a tout les font awesomes du site */
i{
    padding-left: 2px;   
}

.optionClasse i{
    color: green;
}

/* Relatif a tout les  */
.mega_box i{
    padding: 3px;
    position: absolute;
    right: 80%;
}

.mega_box i:hover{
    color: white;
    transition: all 300ms ease;
}


header{
    height: 10vh;
    background-color: white;
    box-shadow: 0 0px 10px rgb(194, 189, 189);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: .7s;
    top: 0;
    left: 0;
    z-index: 1;
}


header.sticky{
   background-color: #FFFF00;
   padding: 10px;
   padding-left: 0;

}

header.sticky .logo img{
    width: 30%;
 }

 header.sticky .mega_box{
    top: 5.9rem; 
    background-color: #FFFF00;
    width: 32%;
    right: 0;
    box-shadow: 4px 4px white;
}

header.sticky .connect li i{
    color: rgb(196, 196, 196);
}

header.sticky .anim_awesome i{
    color: rgb(196, 196, 196);
}

.logo img{
    width: 27%;
    padding: 20px;
}
.list_liens ul{
    display: flex;
    list-style: none; 
}

a{
    text-decoration: none;
    color: #0000FF;
}
 
.anim_awesome{
    margin-left: 20px;
}

.active{
    /*#8b3dff*/
    color: #0000FF;
    font-size: 20px;
}

.anim_awesome i{
    color: #FFFF00;
    margin-left: 1px;
    animation: awesome 1s infinite;
}


@keyframes awesome {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(30%);
        
    }
}

.list_liens ul li{
    padding: 10px;
}

/* Permet d'afficher le contenu du megabox en hover du leins cours */
.list_liens ul li:hover .mega_box{
    opacity: 1;
    visibility: visible;
    transition: all ease 700ms;
}


/* Contenu de la megabox */
.mega_box{
    box-shadow: 7px 7px grey;
    background-color: white;
    position: absolute;
    top: 4.7rem;
    width: 30%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 900ms ease; 
    padding: 7px;
}

.mega_box .row ul{
    display: block;
}
.optionClasse{
   display: none;
   
}


/* Permet d'afficher la liste des lettres celon les lettres */
.hover_me:hover .optionClasse_lettre{
    display: block;
    padding: 0;
    margin: 0;
}


.optionClasse_lettre{
    display: none;
}


.optionClasse_lettre ul{
  margin-bottom: -10px;
  background-color: green;
}

.mega_box .row ul li a{
    color: black;
}



.mega_box .row ul li ul li:hover span{
    visibility: visible; 
    opacity: 1; 
    transition: all 300ms ease;
    transform: rotateY(190deg);
    left: 27%;
}
/*.mega_box .row ul {
   background-color: purple;
}*/

/* */
.mega_box .row ul li:hover i{
    color: green;
    transition: all 300ms ease;
    visibility: visible;
    transform: rotateY(190deg); 
}

.content .row h3{
    color: #0000FF;
}

.mega_box .row i{
   visibility: hidden;
}

/* Permet d'afficher le contenu des classes en hovant les classes */
.mega_box .row ul li:hover .optionClasse{
    display: block;
    padding: 0;
    margin: 0; 
}

.mega_box .content{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}   
.connect {
    box-shadow: 0 0  1px grey;
    border-radius: 3px;    
}


.connect li i{
    color: #FFFF00;
}

.connect li i:hover{
    color: white;
    transition:  all ease .3s;
}


footer{
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFF00;
    display: flex;
}

footer ul{
    list-style: none;
    padding: 10px;
    padding-left: 0; 
    
}

.contenuDebut{
    padding-left:  10px;
}

.contenuDebut h3, .contenuMilieu h3, .contenuGauche h3{
        color: #0000FF;
              
}

@media (max-width: 768px){
    header{
        background-color: red;
}


#menu_content{
    padding: 10px;

}
.note{
    align-items: center;
    float: right;
    display: flex;
    position: fixed;
}

h2{
    text-align: center;
    color: purple;
    float: inline-start;
    visibility: hidden;
}
footer{   
    display: grid;
}

.contenuMilieu, .contenuGauche{
    padding-left:  10px;
}
  
}